[Unit]
Description=udm-backup - backup custom settings located in /data/custom.
After=network.target

[Service]
ExecStart=/data/custom/backup/udm-backup.sh

[Install]
WantedBy=multi-user.target